:root{
    --corPrimaria: #F8FBFF;
    --shadePrimaria: #BFCAD8;
    --corSecundaria: #2C334C;
    --vermelho: #d82323;

    --primariaAlternativa1: #d96e21; /* teste */
    --shadeAlternativo1: #eec1a1; /* teste */

    --primariaAlternativa2: #21d927; /* teste */
    --shadeAlternativo2: #a5eea1; /* teste */
}