@import url(./global.css);
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    border:none;
}

body{
    background:linear-gradient(to bottom, #F8FBFF 80%, #BFCAD8 100%);
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.6;
    overflow-x: hidden;
}
/* Header */

header{
    border:1px solid black;
    background: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 95%;
    padding:3%;
    margin:2%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
}

.headerLinks{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:70px;
    font-size: 1.1em;
}

header>button{
    padding:1% 5%;
    font-size: 1em;
    background-color: var(--corSecundaria);
    color:var(--corPrimaria);
}

#headerLogo{
    width: 20%;
}


/* main */
main{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding:10%;
    position: relative;
    cursor:default;
}

.marquee {
  width: 43%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}


.marqueeText {
  display: inline-block;
  background: black;
  color:var(--corPrimaria);
  padding: 0px 100%;
  margin: 0px 100%;
  font-family: 'Fira Code', monospace;
  animation: marquee 110s linear infinite;
  cursor: default;
}

@keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

#textHidden{
    color:rgb(98, 4, 4);
}

#mainCharacter{
    position: absolute;
    width:50%;
    right:-2%;
    top:-20%;
    z-index: -1;
}
#mainLogo{
    width: 40%;
}

#CourseMainLogo{
    width: 40%;
}

.aboutUs{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 5%;
    margin: 1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background: white;  
}

.aboutUsText>p{
    width: 70%;
}

.aboutUsCards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.aboutUsCards>a{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    padding:5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background: white;  
    color:black;

}

.aboutUsCards>a>h3{
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

#saibaMaisBTN{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 18%;
    height: 50px;
    left:38%;
    margin-top:20px;
    padding:1% 5%;
    font-size: 1em;
    color:var(--corPrimaria);
    background-color: var(--corSecundaria);
}

/* Biotech */

.bioTech{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2% 5%;
    margin: 1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background: white;  
}

.bioTechInfo{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.biotechextInfoText{
    width: 70%;
}

.raveNote{
    width: 50%;
    font-size: 0.8em;
    border:1px solid var(--vermelho);
    padding:1%;
}

/* .raveNote:hover {
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
    text-shadow: 1px 0 red, -1px 0 cyan;
  }
  20% {
    transform: translate(-1px, 1px);
    text-shadow: -1px -1px red, 1px 1px cyan;
  }
  40% {
    transform: translate(1px, -1px);
    text-shadow: 1px -1px red, -1px 1px cyan;
  }
  60% {
    transform: translate(-1px, 0);
    text-shadow: -2px 2px red, 2px -2px cyan;
  }
  100% {
    transform: translate(0);
    text-shadow: 1px 0 red, -1px 0 cyan;
  }
} */


.confidential{
    color:var(--vermelho);
}

/* products */

.products{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 5%;
    margin: 1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background: white;  
}

.productsGrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.productsCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding:2% 5%;
    margin:2%;
    text-align: center;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background: white;
}

/* onboard */

.onboard{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    margin: 1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background: white;
}

.onboardText{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.onboardText>h2{
    font-size: 2em;
    font-family: "Anton", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.onboardText>h2{
    text-align: center;
}

.courseStart{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.courseStart>p{
    width: 70%;
    text-align: center;
}
.courseStart>a{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-top:20px;
    padding:1% 5%;
    font-size: 1em;
    color:var(--corPrimaria);
    background-color: var(--corSecundaria);
}

/* tecnologies html */

#andrewTorres{
    position: absolute;
    width:40%;
    right:2%;
    top:-5%;
    z-index: -1;
}

.tecnologieArticle{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 4% 5%;
    margin: 1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background: white;  
}

.articleGrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:5%;
}

.techArticle{
    padding:10%;
    margin:5%;
    width: 100%;
    background-color: var(--primariaAlternativa1);
    position:relative;
}

.expand-btn{
    padding:1%;
    font-size: 0.9em;
}

.extra-content{
    animation: topDown linear 0.5s;
    width: 200%;
    z-index: 999;
    background:#eec1a1;
    position: absolute;
    padding:5%;
}

#news6, #news3{
    right: 30%;
}

@keyframes topDown{
    0%{
        transform: translateY(10);
        opacity: 0%;
    }
    100%{
        transform: translateY(0);
        opacity: 100%;
    }
}

.tecDestaque{
    display:grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    padding: 2% 5%;
    margin: 1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background: white;  
}

.TecDestaqueContent{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.TecDestaqueContent>a{
    width: 20%;
    padding:1% 5%;
    font-size: 1em;
    background-color: var(--corSecundaria);
    color:var(--corPrimaria);
}

/* Destaque tec */

#Velvet{
    font-size: 1.5em;
}

/* trabalhe conosco */

.trabalheConosco{
    display:grid;
    grid-template-columns: 50% 30%;
    align-items: center;
    padding: 2% 5%;
    margin: 1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background: white;  
}

.trabalheConoscoForms{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2em;
}
.trabalheConoscoForms>input{
    padding:1% 5%;
    font-size: 1em;
    width: 100%;
    border: 1px solid black;
}

.trabalheConoscoForms>select{
    padding:1% 5%;
    font-size: 1em;
}

.trabalheConoscoForms>button{
    margin-top: 20px;
    padding:1% 5%;
    font-size: 1.2em;
}

/* biologias */

#raulVersales{
    position: absolute;
    width:35%;
    right:2%;
    top:-5%;
    z-index: -1;
}

/* rato status */

.ratoStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 5%;
    margin: 1% 5%;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 5px 10px 10px black;
    background-color: #f99367;
}

.ratoStatusText{
    text-align: center;
    margin:2% 0px;
}

.ratoStatusGrid{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:10%;
}

.ratoCard{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 130%;
    color: black;
    border: 1px solid black;
    padding: 2% 8%;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 5px 10px 10px black;
    background-color: #f99367;
}

.ratoCard>p:nth-child(2), .ratoCard>p:nth-child(3), .ratoCard>p:nth-child(4) {
    border-top: 2px solid black;
    gap: 20px;
}

.ratoCard>h4{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-top: 1px solid black;
}

/* registro genético */

.registroGenetico{
    display:grid;
    grid-template-columns: 20% 20% 20%;
    gap:10%;
    align-items: center;
    justify-content: center;
    padding: 2% 5%;
    margin: 1% 5%;
    border: 3px solid var(--shadeAlternativo);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadeAlternativo);
    background-color: #f99367;
}

.registroGeneticoResult{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.registroGeneticoInput>input{
    padding: 1% 5%;
    font-size: 1.2em;
}

.registroGeneticoInput>button{
    padding: 2% 5%;
    margin-top:10px;
    background: var(--corSecundaria);
    color: var(--corPrimaria);
    font-size: 1.1em;
}

#resultadoAssimilado{
    font-size: 1.3em;
    font-weight: bold;
    margin:20%;
    color: white;
    text-decoration: underline;
}

/* Good Girl */

.goodGirl{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 4% 5%;
    margin: 1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background: white;  
}

/* Footer */

footer{
    display:flex;
    justify-content: space-between;
    background-color: var(--corSecundaria);
    width: 100%;
    padding: 5% 10%;
    color:white;
}

.footerLinks>p{
    font-weight: bolder;
}
.footerLinks>nav{
    margin-top:60%;
}

.footerLinks>nav>a{
    color:white;
    display:flex;
    flex-direction: column;
}

/* Course curso html*/

/* main */
.logoMarkMain{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logoMarkMainText{
    width: 50%;
}

.logoMarkMainImg{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left:3%;
}

.logoMarkMainImg>p{
    color:var(--corSecundaria)
}

#purahJovem{
    width: 100%;
    border: 5px solid var(--shadePrimaria);
    border-radius: 20px;
}

/* introduction */

.introduction{
    background-color: var(--corPrimaria);
    display:flex;
    justify-content: space-evenly;
    padding: 6% 10%;
    margin: 1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
}

.introductionArticle{
    display:flex;
    flex-direction: column;
    width: 60%;
}

/* content */

.content{
    display:flex;
    justify-content: space-evenly;
    padding: 6% 10%;
    margin:5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background-color: var(--corPrimaria);
}

.contentArticle{
    display:flex;
    flex-direction: column;
    width: 60%;
}

/* exemples */

.exemples{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:3% 5%;
    margin:1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background-color: var(--corPrimaria);
}

.exemplesText{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.codeCssExemplo{
    margin:2%;
}

/* acesibility tools */

.acessibilityTools{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:3% 5%;
    margin:1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background-color: var(--corPrimaria);
}

.acessibilityToolsText{
    width: 20%;
}

/* curso final */

.cursoFinal{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:3% 5%;
    margin:1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
    background-color: var(--corPrimaria);
}

#finalizarCursoBtn {
  background: var(--corSecundaria);
  color: var(--corPrimaria);
  font-weight: bold;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

#finalizarCursoBtn:hover {
    transition: 60s;
  background: var(--vermelho);
}

.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: url('../assets/img/goodgirlOneAndAHalf.jpg') no-repeat center center;
  background-size: cover;
  z-index: 9999;
}

.popup.active {
  display: block;
}

.popup-active {
  overflow: hidden;
  height: 100vh;
}


.popup.hidden {
  display: none;
}

body.popup-active {
  background-image: url('../assets/img/goodgirlOne.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom;
  overflow: hidden;
  transition: background-image 0.5s ease-in-out;
}


/* pre codes */

.preCode {
  background: var(--shadePrimaria);
  color: black;
  padding: 1rem;
  border-radius: 8px;
  font-family: 'Fira Code', monospace;
  overflow-x: auto;
}

#exemploUm{
    color: #999;
    background-color: #ccc;
}

#exemploDois{
    color: #111;
    background-color: #fff;
}

.codeCssExemplo code {
  display: block;
  white-space: pre-wrap;
  font-size: 0.9rem;
}

/* Focus */

:focus-visible{
    outline: 2px solid var(--vermelho);
    outline-offset: 2px;
}

/* end page */

.endPage{
    padding:1%;
}
#minhaLogo{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
}