@import url(./global.css);
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    border:none;
}

body{
    background:radial-gradient(to bottom #F8FBFF, #BFCAD8);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.6;
}
/* Header */

header{
    border:1px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    padding:3%;
    margin:5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
}

.headerLinks{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#headerLogo{
    width: 20%;
}


/* main */
main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10%;
    position: relative;
}
#mainCharacter{
    position: absolute;
    width: 10%;
}
#mainLogo{
    width: 40%;
}

/* Footer */

footer{
    display:flex;
    justify-content: space-around;
    width: 90%;
    margin: 4% 7%;
    padding:1% 5%;
}

/* onboard */

.onboard{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:5%;
}

.onboardText{
    padding: 5%;
}

.courseStart{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5%;
}

.courseStart>button{
    width: 100px;
    height: 50px;
    padding:6% 20px;
}

/* Course */

/* introduction */

.introduction{
    display:flex;
    justify-content: space-evenly;
    padding: 6% 10%;
    margin: 1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
}

.introductionArticle{
    display:flex;
    flex-direction: column;
    width: 60%;
}

/* content */

.content{
    display:flex;
    justify-content: space-evenly;
    padding: 6% 10%;
    margin:1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
}

.contentArticle{
    display:flex;
    flex-direction: column;
    width: 60%;
}

/* exemples */

.exemples{
    padding:6%;
    margin:1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
}

.codeCssExemplo{
    padding:5%;
}

/* acesibility tools */

.acessibilityTools{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:3% 5%;
    margin:1% 5%;
    border: 3px solid var(--shadePrimaria);
    border-radius: 20px;
    box-shadow: 5px 10px 10px var(--shadePrimaria);
}

.acessibilityToolsText{
    width: 20%;
}

/* pre codes */

.preCode {
  background: #111;
  color: #0f0;
  padding: 1rem;
  border-radius: 8px;
  font-family: 'Fira Code', monospace;
  overflow-x: auto;
}

.codeCssExemplo code {
  display: block;
  white-space: pre-wrap;
  font-size: 0.9rem;
}